body {
  background-image: url("./assets/HCI/Moocs.png");
  background-size: auto;
}
.container-css {
  width: 90%;
  margin: auto;
}
.middle-white-container {
  width: 100%;
  background-color: white;
  padding: 14px;
  border-top: 4px solid #108cac;
  padding-bottom: 4rem;
}
