.greybox {
  background-color: #e5e5e5;
  border-radius: 3px;
  padding: 10px 5px;
  color: rgb(139, 136, 136);
  margin-bottom: 1.6rem;
  font-size: 13.4px;
  font-weight: 600;
}
.greybox-up-title {
  display: flex;
  justify-content: space-between;
}
.greybox-left-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(110, 109, 109);
}

.greybox-right-title {
  font-size: 14px;
  padding-right: 10px;
}
.greybox-line {
  height: 1px;
  border: none;
  background-color: rgb(235, 235, 235);
  border-radius: 2px;
}
.dark {
  background-color: rgb(194, 194, 194);
}
.show-content {
  /* animation: showContent 3s ease-out; */
  animation-name: showContent;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 24px;
}

@keyframes showContent {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    /* transform: scaleY(0); */
    /* height: 0; */
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    /* transform: scaleY(1); */
    /* height: 100%; */
  }
}
