.level-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.point-meter {
  height: 10px;
  border: none;
  border-radius: 10px;
  background-color: #cccccc;
  margin: 10px 16px;
}
.meter-move {
  height: 10px;
  border: none;
  border-radius: 10px;
  width: 20%;
  /* background-color: #41a8c6; */
  background: linear-gradient(#4fbcdd, #41a8c6);
}
.two-title {
  display: flex;
  justify-content: space-between;
  margin: 5px 5px;
  font-size: 13px;
}
.right-side-point {
  display: flex;
  flex-direction: row-reverse;
  font-size: 11px;
}
.two-justify-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 18%;
  font-size: 10px;
  padding-bottom: 10px;
}

.batches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.batches img {
  height: 7rem;
  margin: 0.5rem 0;
}
.batches span {
  margin-bottom: 1rem;
  margin-top: 0;
  color: #af8021;
}
.latest-announcement {
  font-size: 0.88rem;
  color: #af8021;
  margin: 0.4rem 0;
  font-weight: 600;
}

.latest-announcement span {
  display: block;
  font-size: 0.84rem;
  color: grey;
  font-weight: 500;
}
.notifications {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-forum {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-forum div {
  margin-bottom: 0.5rem;
  color: #af8021;
}
.green-button {
  background-color: #9ac957;
  padding: 6px 16px;
  border-radius: 6px;
  font-weight: 700;
  color: white;
  border: none;
  margin-left: 6px;
}
